<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:t="http://typo3.org/ns/Helhum/TyposcriptRendering/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">
	<div id="bookmarks" class="bookmark-pages">
		<h4>Favoriten</h4>

		<f:comment>This will trigger js which add a class to all bookmark-this-page links on the page</f:comment>
		<f:if condition="{isBookmarked}"><div id="is-bookmarked" style="display:none"></div></f:if>

		<p><a class="bookmark-ajax-submit" data-ajaxuri="{t:uri.ajaxAction(action: 'bookmark')}" >Seite merken</a></p>

		<ul id="bookmarks-list" class="menu vertical">
			<f:render partial="List"  arguments="{_all}" />
		</ul>
	</div>

	<f:comment>you may put this into your page template:</f:comment>
	<div class="bookmark-pages">
		<p><a class="bookmark-ajax-submit bookmark-this-page" data-ajaxuri="{t:uri.ajaxAction(extensionName: 'bookmarkpages', pluginName: 'Bookmarks', controller: 'Bookmarks', action: 'bookmark', contextRecord: 'currentPage')}" >Seite merken</a></p>
	</div>
</f:section>

</html>