<html data-namespace-typo3-fluid="true"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:t="http://typo3.org/ns/Helhum/TyposcriptRendering/ViewHelpers">

<f:layout name="Default"/>

<f:section name="main">
    <div class="bookmark-pages"
         data-settings='{settings -> f:format.json()}'
         data-bookmark='{bookmark -> f:format.json()}'
         data-add-ajaxuri="{t:uri.ajaxAction(action: 'bookmark')}"
         data-remove-ajaxuri="{t:uri.ajaxAction(action: 'delete')}"
         data-update-ajaxuri="{t:uri.ajaxAction(action: 'listEntries')}"
         id="bookmarks">

        <h4>Bookmarks</h4>
        <p><a class="bookmark-ajax-submit bookmark-this-page" href="javascript:void(0);">bookmark page</a></p>
        <ul class="menu vertical" id="bookmarks-list">
            <f:comment>List is loaded asynchronously</f:comment>
        </ul>
        <template id="bookmark-template">
            <f:render partial="ListItem" arguments="{bookmark: bookmark}" />
        </template>
    </div>

    <f:comment>you may put this into your page template:</f:comment>
    <div class="bookmark-pages">
        <p><a class="bookmark-ajax-submit bookmark-this-page" href="javascript:void(0);">Bookmark page in templates</a></p>
        <p><a class="bookmark-ajax-submit remove-this-page" href="javascript:void(0);">Remove page from bookmark</a></p>
    </div>
</f:section>

</html>
